body{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica";
}

.padding{
	padding-left: 200px;
	padding-right: 200px;
}

.clear{
	clear: both;
}

#background{
	background-image: url('background.jpg');
}

#container{
	background-color: #292929;
	border-bottom: 3px solid #2ba0d7;
}

#menu{
	height: 50px;
	width: 800px;
	padding: 5px 0px 5px 0px;
}

#menu ul{
	float: left;
	padding-left: 0px;
}

#menu ul li{
	float: left;
	border-right:1px solid #626060;
}

#menu ul li a{
	text-decoration: none;
	font-size: 20px;
	list-style-type: none;
	color: #b5b4b4;
	padding:0px 20px 0px 20px;
	font-size: 12px;
	font-family: "Helvetica";
}

#menu ul li a:hover{
	color: #fff;
}

#menu ul li:last-child{
	border-right: none;
}

#social{
	margin: 13px 0px 0px 770px;
	height: 28px;
	width: 200px;
}

.mail{
	display: block;
	width: 25px;
	height: 25px;
	background-color: rgba(217, 217, 216, 0.13);
	border-radius: 3px;
	float: left;
}

.mail:hover{
	background-color: #ff3d3d;
}

.twitter{
	margin-left: 3px;
	display: block;
	width: 25px;
	height: 25px;
	background-color: rgba(217, 217, 216, 0.13);
	border-radius:3px;
	float: left;
}

.twitter:hover{
	background-color: #3095D3;
}

.instagram{
	margin-left: 3px;
	display: block;
	width: 25px;
	height: 25px;
	background-color: rgba(217, 217, 216, 0.13);
	border-radius:3px;
	float: left;
}

.instagram:hover{
	background-color: #d28156;
}
.google{
	margin-left: 3px;
	display: block;
	width: 25px;
	height: 25px;
	background-color: rgba(217, 217, 216, 0.13);
	border-radius:3px;
	float: left;
}

.google:hover{
	background-color: #D94348;
}
.facebook{
	margin-left: 3px;
	display: block;
	width: 25px;
	height: 25px;
	background-color: rgba(217, 217, 216, 0.13);
	border-radius:3px;
	float: left;
}

.facebook:hover{
	background-color: #4668b3;
}

#main{
	width: 900px;
}

#header{
	background: none;
	width: 900px;
}

.dev{
	color: #2ba0d7;
	font-size: 42px;
	float: left;
}
.dev a{
	color: #2ba0d7;
	text-decoration: none;
}
.path{
	color: #292929;
	font-size: 42px;
	float: left;
}
.path a{
	color: #292929;
	text-decoration: none;
}

.title{
	padding: 35px 0 35px 0;
	float: left;
}

.search{
	padding: 50px 0px 35px 684px;
	border-radius: 4px; 
	color: #868383; 
	text-transform: uppercase;
}

#front_page{
	padding: 30px 30px 0px 30px;
	width: 840px;
	background-color: #fff;
}

#front_image{
	background-image: url('images/main.png');
	height: 410px;
}

.image_text{
	width: 820px;
	color: #b5b4b4;
	height: 30px;
	padding: 15px 5px 0px 15px;
	background-color: rgba(00, 00, 00, 0.9);
}

.image_text_bg{
	padding-top: 365px;
	height: 25px;
}

.image_choose{
	margin: 15px 0px 0px 380px;
}

#front_text{
	padding: 15px 0px 30px 0;
	color: #111111;
	font-size: 20px;
	line-height: 25px;
	background-color: #f7f7f7;
}

#front_text_shadow{
	border-width: 0px 0px 22px 0px;
	border-image: url(options_shadow.png) 0 0 22;
}

#front_options{
	margin-top: 35px;
	height: 235px;
	background-color: #fff;
	padding: 10px;
	-webkit-box-shadow: 0px 3px 0px 0px rgba(240, 240, 240, 1);
	-moz-box-shadow: 0px 3px 0px 0px rgba(240, 240, 240, 1);
	box-shadow: 0px 3px 0px 0px rgba(240, 240, 240, 1);
}

.option{
	float: left;
	color: #b5b4b4;
	width: 250px;
	text-align: center;
	padding-left: 10px;
}

.option h2{
	color: #111111;
	text-transform: uppercase;
	text-align: center;
	font-size: 21px;
}

.tool_box{
	display: block;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    border: 1px #dedede solid;
	background-color: #dedede;
    text-decoration: none;
    text-align: center;
	margin-left: 75px;
}

.tool_box:hover{
	background-color: #252525;
}

.icon-tools{
	width: 100px;
    height: 100px;
}
.icon-cog{
	width: 100px;
    height: 100px;
}

.icon-stopwatch{
	width: 100px;
    height: 100px;
}

#about{
	padding: 30px 30px 30px 30px;
	height: 500px;
}

#about h1{
	color: #111111;
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
}

#recent_projects{
	width: 900px;
	height: 325px;
}

#recent_projects h2{
	color: #333333;
}

#about h2{
	color: #111111;
	line-height: 20px;
}

.project{
	float: left;
	padding: 10px;
	margin-left:5px;
	border-radius: 5px;
	border: 1px solid #dedede;
	height: 270px;
	width: 140px;
	color: #b5b4b4;
	background: #f9f9f9;
	font-size: 14px;
	line-height: 25px;
}

.project:hover{
	background-color: #eee;
}

.project a{
	text-decoration: none;
	color: #111111;
	font-size: 14px;
}

.project_image{
	height: 125px;
	width: 140px;
}

#our_cients{
	padding: 15px 0px 15px 0px;
	width: 900px;
	height: 200px;
}

.client{
	float: left;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #dedede;
	border-right: 2px solid #dedede;
	height: 100px;
	width: 115px;
	color: #b5b4b4;
}

.client:hover{
	background-color: #eee;
}

#footer_background{
	background-color: #292929;
}

#client_margin{
	padding-top: 20px;
	height: 5px;
	background-color: #fff;
	border-bottom: 3px solid #2ba0d7;
	width: 900px;
}

#footer{
	height: 270px;
	padding: 30px 0px 5px 0px;
	background-color: #292929;
}

.square{
	width: 250px;
	height: 200px;
	float: left;
	font-size: 12px;
	margin-left: 30px;
	color: #949494;
	line-height: 25px;
}

.square h2{
	text-align: left;
	color: #fff;
	text-transform: uppercase;
}

.square p{
	text-align: justify;
	color: #b5b4b4;
}

.submit{
	background: linear-gradient(to bottom, #292929, #181818); 
	color: #e3e3e3; 
	border-radius: 4px; 
	width: 100px; 
	height: 30px;
}

.e-mail{
	width: 175px; 
	height: 35px; 
	border-radius: 4px; 
	color: #868383; 
	background: #ffffff url('mail.png')no-repeat 10px center; 
	padding-left: 30px;
}

.twitter_footer{
	margin-right: 3px;
	display: block;
	width: 20px;
	height: 20px;
	background-color: #3095D3;
	border-radius: 3px;
	float: left;
}

.square a{
	text-decoration: none;
	color: #2ba0d7;
}