body{
    margin: 0;
    padding: 0;
    background: url("Mountains_background_2.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.form1{
    padding: 10px;
    background: rgba(0, 0, 0, 0.85);
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.errorMsg{
    color: #ff0000;
    display: none;
    text-align: left;
}

.successMsg{
    color: #6B8E23;
}

span.arrow {
    margin-left: 6px;
    height:17px;
}
label.error {
    height:17px;
    margin-left:9px;
    padding:1px 5px 0px 5px;
    font-size:small;
    color: #FF0000;
    font-weight: bold;
    text-align: left;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	background: url("Mountains_background_2.png") no-repeat center center fixed;
}