body{
    background: url("/img/Island_background.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

hr{
    background-color: white;
}

.options-form{
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px 3px #2637ff;
    color: white;
    padding: 20px;
    position: relative;
    top: 50%;
    transform: translateY(35%);
    
}

h1, h2{
    text-align: center;
}

.row{
    padding-top: 20px;
}

#formFillInline, #formCharsInline{
    display: none;
}