* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  background-color: #ccc;
}

.login__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 4rem;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1.5rem 2.5rem rgba(0, 0, 0, 0.5);
}

.login__form h2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  color: #fff;
  text-align: center;
}

.login__form .login__form__input {
  position: relative;
}

.login__form .login__form__input input {
  width: 100%;
  padding: 1rem 0;
  font-size: 1.6rem;
  color: #fff;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid #fff;
  outline: none;
  background: transparent;
}

.login__form .login__form__input input:focus {
  border-bottom: 0.1rem solid #13b1fa;
}

input:invalid {
  box-shadow: none;
}

.login__form .login__form__input label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem 0;
  font-size: 1.5rem;
  color: #fff;
  letter-spacing: 0.1rem;
  pointer-events: none;
  transition: 0.2s;
}

.login__form .login__form__input input:focus ~ label,
.login__form .login__form__input input:valid ~ label {
  top: -2rem;
  left: 0;
  color: #13b1fa;
  font-size: 1.45rem;
  /* font-weight: bold; */
}

.login__form input[type="submit"] {
  background: transparent;
  border: none;
  outline: none;
  font-size: 3rem;
  color: #fff;
  background: #13b1fa;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  width: 100%;
}

@media only screen and (min-width: 480px) {
  .login__form {
    width: 90%;
    border-radius: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .login__form {
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .login__form {
    width: 20%;
  }
}
