body{
    background: url("Cyprus_background.jpg");
    background-size: cover;
}

hr{
    background-color: white;
}

.options-form{
    background: rgba(0, 0, 0, 0.6);
    color: white;
    margin-top: 150px;
    padding: 20px;
    box-shadow: 0px 0px 10px 3px grey;
    
}

h1, h2{
    text-align: center;
}

.row{
    padding-top: 20px;
}